<h2>Search Results:</h2>
<div class="row masonry-row">
  <% if @posts.empty? %>
    <p> Sorry! Nothing matches your search query.</p>
  <% else %>
  	<% @posts.shuffle.each do |post| %>
  	  <%= render "search_row", post: post, ticket: @ticket  %>
  	<% end %>
  <% end %>
</div>
