<div id= "search-wrapper">
  <%= form_tag(exhibits_search_show_path, :method => "get", id: "search-form") do %>
    <i class="fa fa-search" aria-hidden="true" style="font-size: 20px"></i>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <% @tags.each do |tag| %>
    <li class="checkboxtext">
      <%= check_box_tag "tag_search[]", tag.name %>
      <%= tag.name %>
    </li>
    <% end %>
  <% end %>
</div>
