<div class="row masonry-row">
	<% @posts.shuffle.each do |post| %>
	  <%= render "museum_row", post: post, ticket: @ticket  %>
	<% end %>
</div>
<br>

<% if current_user %>
  <%=link_to "Add Museum", new_museum_path %>
<% end %>
