@font-face {
  font-family: "HansKendrick";
  src: asset-url("HansKendrick-Regular.otf") ;
}
@font-face {
  font-family: "HansKendrick-Medium";
  src: asset-url("HansKendrick-Medium.otf") ;
}
@font-face {
  font-family: "HansKendrick-Light";
  src: asset-url("HansKendrick-Light.otf") ;
}
@font-face {
  font-family: "HansKendrick-Heavy";
  src: asset-url("HansKendrick-Heavy.otf") ;
}
