.body {
	background-color: #f8f8f8;
}

p{
	font-size: 17px;
   font-family: HansKendrick-light, "Helvetica Neue Light", "Helvetica Neue";
   color: dimGrey; 
}

* {
   font-family: HansKendrick;
   color: dimGrey;
   font-size: 10px;
}
* a {
  font-family: HansKendrick-Heavy;
  font-size: 1.6rem;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
