/*
* === COLLAPSABLE SIDE NAV EXTRA SMALL (collapsed) ===
*/
@media (max-width: 768px) {

    .navbar-fixed-side {
        position: fixed;
        margin-left: -15px;
        margin-right: -15px;
        border-color: transparent;
    }
    .navbar-brand{
        font-family: "Brandon Grotesque" , "Helvetica";
        color: dimGrey;
    }
    .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus{
        color: lightGrey;
        text-decoration: none;
    }
    .collapse.navbar-collapse{
        padding: 0px 0px;
    }

    .side-nav-button{
        position: relative;
        display: block;
        width: 100%;
        padding: 10px 15px;
        margin-top: 2px;
        background-color: #fff;
        border: transparent;
        text-align: left;
        font-size: 16px;
    }
}
/*
* === COLLAPSABLE SIDE NAV LARGE ===
*/
@media (min-width: 768px) {
    .navbar-fixed-side {
        position: fixed !important;
        margin: 0 -15px;
        height: 100vh;
        width: inherit;
        border-radius: 0;
    }
        .navbar-fixed-side .navbar-header{
        float: none;
        margin-left: none;
        margin-right: none;
    }
    .navbar-fixed-side .container{
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        top: 35%;
        transform: translateY(-35%);
    }
     .navbar-collapse.collapse{
        padding: 0px 0px;
    }
    .navbar-header img{
        margin: 1em 0em;
        width: 100%;
        height:auto;
    }
    .navbar-brand{
        margin-left: 0px !important;
        display: block;
        width: 100%;
        text-align: center;
     }
    .side-nav-menu{
    }
    .side-nav-button{
        position: relative;
        display: block;
        width: 100%;
        padding: 10px 15px;
        margin-top: 2px;
        background-color: #fff;
        border: transparent;
        text-align: left;
        font-size: 1.6rem;
    }
    footer { 
        position: absolute;
        width: auto;
        bottom: 0;
        text-align: center;
        width: 100%;
        padding: 2.2em;
    }
    footer i {
        font-size: 35px !important;
        color: lightGrey;
        margin: .4rem;
    }
    .text-muted{
    color:lightGrey !important;
    font-size: 1.3rem;
    }
}
.navbar-default{
    border-color: transparent !important;
}
.search-bar{
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px solid lightGrey;
    transition: border-left 0.2s;
    border-radius: 0px;
    
}
.search-bar:focus{
    outline: none;
    border-left: solid 16px lightGrey;
}
.checkbox-wrapper{
    display: block; 
}
.checkbox-wrapper .well{
    display: inline;
    border: 0 none;
    margin-bottom: 0px;
    box-shadow: inset 0 3px 3px rgba(0,0,0,.15);
    padding: .6rem 1.5rem;
    border-radius: 14px;
    transition: padding 0.2s;
    background: repeating-linear-gradient(
    45deg,
    #E1E1E1,
    #E1E1E1 9px,
    lightGrey 9px,
    lightGrey 18px
  );
}
.checkbox-wrapper label{
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 12px 12px 12px 8px;
    display: inline-block;
    background-color: #f8f8f8;
} 
.checkbox-wrapper label p{
    margin-bottom: 0;
} 
.checkbox-wrapper label p:hover{
    color: black;
}
input#museum-toggle[type=checkbox]:checked ~.museum-label-toggle{
     background: repeating-linear-gradient(
    45deg,
    #E1AC61,
    #E1AC61 12px,
    #DFA148 12px,
    #DFA148 24px
  );
    padding: .6rem 4.5rem;
    box-shadow: inset 0 3px 3px rgba(0,0,0,.2);
}

input#exhibit-toggle[type=checkbox]:checked ~.exhibit-label-toggle{
     background: repeating-linear-gradient(
    45deg,
    #129AB8,
    #129AB8 12px,
    #35A9C3 12px,
    #35A9C3 24px
  );
    padding: .6rem 4.5rem;
    box-shadow: inset 0 3px 3px rgba(0,0,0,.2);
}

input#event-toggle[type=checkbox]:checked ~.event-label-toggle{
     background: repeating-linear-gradient(
    45deg,
    #D6709C,
    #D6709C 12px,
    #D6709C 12px,
    #D6709C 24px
  );
    padding: .6rem 4.5rem;
    box-shadow: inset 0 3px 3px rgba(0,0,0,.2);
}

.list-group-item{
    margin-top: 2px;
    margin-bottom: 0px !important;
    border: transparent!important;
    background-color: #F8F8F8 !important;
    font-size: 17px;
}
.list-group-item  a{
    color: dimGrey
}
.toggle-group{
    margin-top: 10px;
}

#color-hack{
    background-color: #F8F8F8;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: -15px
}

