/*
* === MASONRY ===
*/

*, *:before, *:after {box-sizing:  border-box !important;}
.masonry-row {
 -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: .5em;
 -webkit-column-gap: .5em;
}

.content{
    overflow:hidden;
}

.post-wrapper {
 display: inline-block;
 padding:  0;
 width:98%;
}

.museum-label-toggle{
    padding: 12px 15px;
    display: block;
    background-color: white
}

input#museum-toggle[type=checkbox]:checked ~.museum-label-toggle{
    background-color: lightGrey;
    border-left: solid 3px dimGrey;
}

.exhibit-label-toggle{
    padding: 12px 15px;
    display: block;
    background-color: white
}

input#exhibit-toggle[type=checkbox]:checked ~.exhibit-label-toggle{
    background-color: lightGrey;
    border-left: solid 3px dimGrey;
}

.list-group-item  a{
    color: dimGrey
}

* {
   font-family: HansKendrick;
   font-weight: 300;
   color: dimGrey;
}
