/*
* === MASONRY ===
*/
*, *:before, *:after {box-sizing:  border-box !important;}
.masonry-row {
 -moz-column-width: 33em;
 -webkit-column-width: 33em;
 column-width:33em;
 -moz-column-gap: .5em;
 -webkit-column-gap: .5em;
 column-gap: .5em;
}
.content{
    overflow:hidden;
    background-color: #f8f8f8;
}
.post-wrapper {
 display: inline-block;
 padding: 0px 10px;
 margin-top: 2rem;
 margin-bottom: -4rem;
 width:98%;
}
.thumbnail{
	position: relative;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 none;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
}
.thumbnail a{
	color: dimGrey;
}

.thumbnail p{
	line-height: 120%;
	font-size: 15px;
	color: #9B9999;
}

.thumbnail h3 a{
	font-size: 2rem;
}

.progress{
	position: relative;
	bottom: 10px;
}
 .museum-panel .progress-bar{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
	background-color: orange;
}
.exhibit-panel .progress-bar{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
	background-color: #1cade6;
}

.event-panel .progress-bar{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
	background-color: #DE6092;
}

